@import "~bootstrap/scss/bootstrap";

@mixin filter {
  height: 45vh;
  overflow: scroll;
}

@mixin flexCenter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

main {
  display: flex;
}

.py-5 {
  background-color: rgb(0, 4, 255);
  flex: 4;
}

.category {
  background-color: yellow;
  @include filter;
}

.brand {
  background-color: greenyellow;
  height: 45vh;
  overflow: scroll;
}

.column {
  flex: 1;
  background-size: cover;
  background-position: center;
}

.imageInBar {
  width: 100%;
  background-color: fuchsia;
}

.card-img-top {
  height: 100%;
  width: 90%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
}

.imgContainer {
  flex: 4;
  display: flex;
  justify-content: center;
}

.priceAndActionDescription {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fw-bolder {
  background-color: lightgray;
}

.price {
  background-color: coral;
}

.containerPrice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
}

.text-muted {
  vertical-align: super;
}

.cart-caption {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4px;

  span {
    flex: 7;
  }


  .page-leafer {
    display: flex;
    flex: 2;

    input {
      width: 25px;
    }

    .limit {
      margin: 5px;
    }
  }
}

.item-number {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  background-color: blue;
  text-align: center;
  margin: 4px;
}

.cart-items {
  width: 75%;
  @include flexCenter;
}

.cart-item {
  display: flex;
  align-items: center;
  height: 7rem;
}


.item-info {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: space-between;

}

.item-image {
  width: 15%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
}

.item-name {
  border-bottom: 1px solid white;
  text-align: center;
}

.item-description {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.item-params {
  display: flex;
  justify-content: space-around;

  div {
    color: dimgrey;
  }
}

.item-count {
  @include flexCenter;
  justify-content: center;

  .item-stock {
    font-size: 80%;
  }

  .item-quantity {
    display: flex;

    .item-howmany {
      position: relative;
      top: 5px;
    }
  }
}

.summary {
  @include flexCenter;
  height: 60%;
  width: 29%;
}

.cart-main {
  display: flex;
}